doctype html
html
    title 전체보기
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        style.
           html {
               font-size: 14px;
           }
           textarea {
                position: absolute;
                left: -100%;
            }
            container {
                position: relative;
            }
            body {
                background: #e2e1e0;
                text-align: center;
            }
            #card {
                overflow-x:scroll;
                font-size: 1rem;
                background: #fff;
                border-radius: 2px;
                display: inline-block;
                margin: 1rem;
                position: relative;
                width: 300px;
            }
            #card:hover {
                -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            #clipboard-label {
                position: absolute;
                color: white;
                background-color: rgba(0, 0, 0, 0.555);
                left: 80%;
                top: 2px;
                display: inline;
                -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 2px 2px 10px 0 rgba(0, 0, 0, 0.19);
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 2px 2px 10px 0 rgba(0, 0, 0, 0.19);
                border-radius: 5px;
            }
            #clipboard-label:hover {
                background-color: white;
                color: black;
                cursor: pointer;
            }
            #clipboard-copied {
                z-index: 1;
                position: absolute;
                color: white;
                background-color: rgba(0, 0, 0, 0.8);
                left: 80%;
                top: 2%;
                display: inline;
                -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 2px 2px 10px 0 rgba(0, 0, 0, 0.19);
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 2px 2px 10px 0 rgba(0, 0, 0, 0.19);
                display: none;
            }
            #kakao-link-btn {
                position: absolute;
                left: 84%;
                top: 20px;
                display: inline;
                border-radius: 5px;
            }
    body
        div.container
            div#clipboard-copied 복사되었습니다.
            pre#card= voca
                div#clipboard-label(onclick="copy()") 복사하기
                a#kakao-link-btn(href="javascript:sendLink();")
                    img(src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png")

script(src='//developers.kakao.com/sdk/js/kakao.min.js')
script(type='text/javascript')
    | Kakao.init('d66eca81e99018d0ea2172956d8078e2')
    | function sendLink() {
    |    const url = document.URL
    |    Kakao.Link.sendDefault({
    |        objectType: 'feed',
    |        content: {
    |            title: 'TestPaper',
    |            description: '#간단한 #단어 #시험지 #생성기 #섞기 #가리기',
    |            imageUrl: '//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png',
    |            link: {
    |                mobileWebUrl: url,
    |                webUrl: url
    |            }
    |        },
    |        buttons: [{
    |            title: '단어시험지 생성하기',
    |            link: {
    |                mobileWebUrl: url,
    |                webUrl: url
    |            }
    |        }]
    |    })
    | }
    
script(type='text/javascript')
    | function copy() {
    |   //라벨의 텍스트를 잠깐 지움
    |   const clipboardLabel = document.getElementById("clipboard-label")
    |   const labelText = clipboardLabel.innerText
    |   clipboardLabel.innerText = ""
    |
    |   const copyText = document.getElementById("card").innerText
    |   const textArea = document.createElement('textarea')
    |   textArea.textContent = copyText.trim()
    |   document.body.append(textArea)
    |   textArea.select()
    |   document.execCommand("copy")
    |
    |   //라벨 텍스트 다시 넣음
    |   clipboardLabel.innerText = labelText
    |   copied()
    | }     
    |   
    | function copied() {
    |   const copiedToggle = document.getElementById("clipboard-copied")
    |   copiedToggle.style.display = "block"
    |   setTimeout(function() {
    |       copiedToggle.style.display = "none"
    |   }, 1000)
    | }           